body {
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
}

header {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
}

/* Nav  */
.nav-left {
    display: flex;
    align-items: center;
}

.nav-right {
    display: flex;
    align-items: center;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    height: 40px;
}

header ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

header ul li {
    display: flex;
    justify-content: center;
}

header ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

header ul li a.login-button {
    background-color: blue;
    color: #ffffff;
    padding: 3px 11px;
    border-radius: 0px;
    margin: -3px;
}


.hero {
    display: flex;
    padding: 96px 20px;
    background-color: #b0d7ff;
    justify-content: flex-end;
}

.hero-content {
    max-width: 600px;
    margin-right: 20px;
    text-align: left;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

.hero-buttons {
    display: flex;
    gap: 15px;
}

.cta-btn {
    display: inline-block;
    padding: 15px 30px;
    border-radius: 4px;
    text-decoration: none;
}

.cta-btn {
    background-color: #007ee5;
    color: #fff;
}

.secondary {
    position: relative;
    top: 70px;
    right: 252px;
}

.hero-image {
    max-width: 640px;
    width: 100%;
    height: auto;
    position: relative;
    top: 150px;
}